*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   
}
body, html{
	height: 100vh;
}
body{
	width: 100%;
    height: 100vh;
	background-color: hsl(60, 57%, 75%); 
	font-family: 'Merriweather', serif;
}

#Shop{
	width: 100%;
	background: linear-gradient(to right, #4d4dff , #47d147);
	
	
}
header h1{
	text-align: center;
	font-family: 'Merriweather', serif;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}
header img{
	max-width: 200px;
	max-height: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#tabs{
	width: 100%;
	overflow: hidden;
	
	
	background-color: #5f5f5f;
	border: none;
    
	
	
	
}
#container{
	display: none;
}
#button{
	width: 800px;
	
	margin-right: auto;
	margin-left: auto;
	display: block;
	
	
	
	
	
	
	
}
.wrapper{
	width: 600px;
	overflow: hidden;
	
	margin-right: auto;
	margin-left: auto;
	display: block;
}
 

#tabs button{
	font-size: 1.0625rem;
	
	border: none;
	padding-right: 1rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	outline: none;
	
	cursor: pointer;
	
	
	
	
}
.grey {
	background-color: transparent;
	color: white;
}
.active{
	background-color:  hsl(60, 57%, 75%); 
	color: black;
}

#button button:hover, #button2 button:hover{
	background-color: hsla(120, 100%, 85%, 50%);
}




footer{
	width: 100%;
	
	background-color: #5f5f5f;
	height: 3rem;
	color: white;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 14px;
	font-weight: 400;
}

footer sup{
	vertical-align: baseline;
}

#L, #SM, #TB, #CS, #GS, #TV{
	font-family: 'Noto Sans TC', sans-serif;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	overflow: hidden;
	height: 100%;
}

#L img, #SM img, #TB img, #CS img, #GS img, #TV img{
	max-width: 150px;
	max-height: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	cursor: pointer;
	
}


#first, #second, #third, #first2, #second2, #third2, #first3, #second3, #third3,#first4, #second4, #third4, #first5, #second5, #third5, #first6, #second6, #third6  {	
		height: 370px;
		width: 1000px;
		margin-right: auto;
	    margin-left: auto;
	    display: block;
	    
	    padding-left: 4rem;
	    padding-right: 4rem;
	    
	   
	   
	}

@media(max-width:950px){
	#first, #second, #third, #first2, #second2, #third2, #first3, #second3, #third3,#first4, #second4, #third4, #first5, #second5, #third5, #first6, #second6, #third6  {	
		height: 370px;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		
	   
	}
}




.column p, .column2 p, .column3 p, .column4 p, .column5 p{
	padding-right: 0.3rem;
	padding-left: 0.3rem;
	font-size: 14px;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	
	
}

.column, .column2, .column3, .column4, .column5{
	background-color: white;

	text-align: center;
	position: relative;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	box-shadow: 5px 5px 3px 3px   hsl(0, 0%, 60%) ;
	
   
}
          /*=============================================================5Star=========================================*/

.rate {
    height: 46px;
	
	
}	

.rate:not(:checked) > input {
    position:fixed;
    top:-9999px;  
	
}
.rate:not(:checked) > label {
    float:right;
    width: 1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:20px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '\f005';
    font-family: fontAwesome;
}
.rate > input:checked ~ label {
    color:  #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08  ;
}

@media(min-width: 750px){
	

	.column, .column2, .column3, .column4, .column5{
	background-color: white;
	width: 200px;
	float: left;
	overflow: hidden;
	height: 350px;
	
    
 
}
	.column4{
		height: 370px;
	}
	
	.price{
	position: absolute;
	white-space: nowrap;
	bottom: 46px;
	left: 50%;
	transform: translate(-50%, -50%);
	
}  
	.buy{
		position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 5px;	
	}
#button2{
 display: none;
}
	.rate{
		float: left;
		padding: 0 10px;
		position: absolute;
		margin-left: 2.5rem;
		margin-right: 2.5rem;
	    bottom: 90px;
		
	}
	
	
	.column4 p{
		font-size: 13px;
	}
	.modal{
		width: 500px;
	    height: 400px; 
	}
	.prev{
		left: -50px;
	}
	.next{
		right: -50px;
	} 
	.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
	color: white;
	
}
	
}


#SM, #TB, #CS, #GS , #TV{
	display: none;
}
.green{
	color: hsl(120, 100%, 34%);
}
.active2{
	background-color: hsla(120, 100%, 85%, 50%);
}
.buy {
	border: none;
	background-color: hsl(216, 100%, 65%);
	font-size: 17px;
	padding: 5px;
	width: 50px;
	
	color: #ffffff;
	
}
#btn{
	
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #4dff4d;
  color: white;
  cursor: pointer;
  padding: 15px;
  z-index: 99;
}
#btn::before{
   content: '\f062';
   font-family: fontAwesome;
}

.modal{
	
	 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	background-color: white;
	display: none;
	
	
	
}

.slideshow-container{
	width: 400px;
	position: relative;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  
}
.modal img{
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  
 
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}




.close {
    position: absolute;
    top: -10px;
    right: 0;
    color:#4d4d4d ;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #ff4d4d;
    text-decoration: none;
    cursor: pointer;
}


      /*===================================================================================mobile===============================*/
@media(max-width: 750px){
	
	#container{
		cursor: pointer;
		display: block;
		padding-top: 0.5rem;
		
	}
	.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px;
    transition: 0.4s;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	display: block;
	
}
	#button{
		
		display: none;
		
	}
	.button2{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
	.button2 button{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		
		
		
	}
	
	.change{
		display: block;
	}
	
	.change .bar1 {
	 
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
	
} 

	#first, #second, #third, #first2, #second2, #third2, #first3, #second3, #third3,#first4, #second4, #third4, #first5, #second5, #third5, #first6, #second6, #third6  {	
		height: 100%;
		width: 100%;
		overflow: hidden;
	  
	   
	}

	
	.column, .column2, .column3, .column4, .column5{
		width: 200px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		
	}
	.price{
     padding-top: 1rem;
	 padding-bottom: 1rem;	
}
	.buy{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.hide{
		height: 13.75rem;
		max-width: 1000px;
		overflow: hidden;
	}
	.rate{
	  margin-right: auto;
	  margin-left: auto;
	  display: block; 
	  margin-left: 3rem;
	  margin-right: 3rem;
	}
	.modal{
		width: 100%;
		height: 100%;
	}
	.slideshow-container{
		max-width: 300px;
		max-height: 300px;
	}
	.modal img{
		max-width: 300px;
		max-height: 300px;
	}
	
	
	.prev, .next{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	
	
}
	.prev{
		left: -50px;
	}
	.next{
		right: -50px;
	} 
}

