/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}  */
*{
   box-sizing: border-box;
   margin: 0;
	padding: 0;
}
body, html{
	height: 100vh;
	
}
body{
	width: 100%;
	background-color: hsla(0, 0%, 90%, 10%) ;
}

#wrapper{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	 font-family: 'Noto Sans KR', sans-serif;
	border: 1px solid  #b3b3b3;
	background-color: hsla(0, 0%, 55%, 30%);
	text-align: center;
	height: auto;
	
}
button{
 font-family: 'Noto Sans KR', sans-serif;	
}
.log{
	font-size: 20px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	
}
#wrapper input, button{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#wrapper input{
	display: block;
	margin-right: auto;
	margin-left: auto;
	display: block;
	height: 30px;
	width: 300px;
	border: 1px solid #ccc;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	
}
#wrapper input:hover{
	border: 1px solid #66b5ff;
}
.submit{
	font-size: 20px;
	padding: 5px 35px;
	border: none;
	background-color:#4CAF50;
	color: white;
	font-family: 'Heebo', sans-serif;
}


@media(max-width: 650px){
	
	
}


